@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The leading email spammer, boldly cluttering your inbox.</h1>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Add New Customer</a></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Display Customers</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our mission</h2>
        <p>
           Our mission is to fill your email Inbox with useless junk you definitely don't want. We will datamine your information and use it to contact you endlessly. 
        </p>
         
    </div>
    <div class="col-md-4">
        <h2>Unsubscribe</h2>
        <p>By all means, hit the unsubscribe button. Best case, it does nothing; maybe it installs malware...</p>
        <p><a class="btn btn-danger" href="http://go.microsoft.com/fwlink/?LinkId=301866">Unsubscribe</a></p>
      </div>

</div>